*{
margin: 0;
padding: 0;
}

body{
    background-size: cover;
}

.nav-item {
    padding-right: 3.5vw;
}

.card2{
    display: inline-block;
    margin-left: 7.3vw;
    margin-top: 3vw;
}

.card-img-top{
    width: 22vw;
    padding-left: 2.1vw;
    padding-top: 2vw;
}

.list-group-item{
    padding-left: 3vw;
}

.header{
    background-color: #153541;
    margin-top: 3vw;
    color: white;
    height: 13vw;
}

.h2{
    text-align: center;
    padding-top: 1.8vw;
    font-size: 3vw;
    padding-bottom: 1.5vw;
}

.paragrafo{
    text-align: center;
}

.imgmid{
    width: 22vw;
    height: 14vw;
    padding-right: 1.7vw;
}

.dolar{
    padding-left: 3.3vw;
}

.card-link {
    padding-left: 6vw;
}

.card-title{
    text-align: center;
}

.imgum{
    padding-right: 1.7vw;
    height: 14vw;
}
